node_modules
dist
.tmp
.sass-cache
bower_components

webapps/npm-debug.log

JoetzAndroid2/app/build.gradle

JoetzAndroid2/app/build.gradle

JoetzAndroid2/app/libs/picasso-2.4.0.jar

JoetzAndroid2/app/src/androidTest/java/com/example/steven/joetzandroid/UserTest.java

JoetzAndroid2/app/src/androidTest/java/com/example/steven/joetzandroid/UserTest.java

JoetzAndroid2/app/build.gradle

JoetzAndroid2/app/build.gradle

JoetzAndroid2/app/src/androidTest/java/com/example/steven/joetzandroid/UserTest.java

JoetzAndroid2/app/src/main/AndroidManifest.xml

JoetzAndroid2/app/src/main/java/com/example/steven/joetzandroid/Activities/LoginFragment.java

JoetzAndroid2/app/src/main/java/com/example/steven/joetzandroid/Activities/StartActivity.java

*.java

*.java

JoetzAndroid2/app/src/main/res/values/strings.xml

JoetzAndroid2/app/src/main/res/layout/fragment_vakantie_fotos.xml

JoetzAndroid2/app/src/main/res/layout/fragment_vakantie_foto_galery.xml

*.java

webapps/app/views/nav.html
