<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                </div>
<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

</div>

<div class="modal fade" id="activiteitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="NavCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Activiteit</h4>
      </div>
      <div class="modal-body ">
        <br>
        <br>
    <form class="form-horizontal" ng-model"activiteit">
        <div class="form-group">
          <label class="control-label col-sm-2" for="">Naam:</label>
          <div class="col-sm-6">
            <label id="activiteitNaam" style="color: #1485CC;" type="text" class="control-label">{{activiteit.naam}}</label>
        </div>
    	</div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="">Soort:</label>
          <div class="col-sm-6">
            <label id="activiteitSoort" style="color: #1485CC;"  type="text" class="control-label">{{activiteit.soort}}</label>
        </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="">Periode van:</label>
          <div class="col-sm-3">
            <label id="activiteitPeriodeVan" style="color: #1485CC;" type="text" class="control-label">{{activiteit.periode.van}}</label>
          </div>
          <label class="control-label col-sm-2" for="">tot:</label>
          <div class="col-sm-3">
            <label id="activiteitPeriodeTot" style="color: #1485CC;" type="text" class="control-label">{{activiteit.periode.tot}}</label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="">Prijs:</label>
          <div class="col-sm-6">
            <label id="activiteitPrijs" style="color: #1485CC;" type="text" class="control-label">{{activiteit.prijs}} EUR</label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="">Straat:</label>
          <div class="col-sm-2">
            <label id="activiteitStraat" style="color: #1485CC;" type="text" class="control-label">{{activiteit.adres.straat}}</label>
          </div>
          <label class="control-label col-sm-2" for="">Nr:</label>
          <div class="col-sm-2">
            <label id="activiteitNr" style="color: #1485CC;" type="text" class="control-label">{{activiteit.adres.nr}}</label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="">Gemeente:</label>
          <div class="col-sm-6">
            <label id="activiteitGemeente" style="color: #1485CC;" type="text" class="control-label">{{activiteit.adres.gemeente}}</label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="">Postcode:</label>
          <div class="col-sm-6">
            <label id="activiteitGemeente" style="color: #1485CC;" type="text" class="control-label">{{activiteit.adres.postcode}}</label>
          </div>
        </div>
        <div class="form-group">
            <label id="activiteitLabel" style="color: green;" class="col-sm-offset-2 control-label"></label>
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
  </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
        <button id="btnInschrijven" type="button" class="btn btn-success" ng-click="schrijfIn()">Inschrijven!</button>
      </div>
    </div>
  </div>
</div>