<div ng-show='admin(user.profile.role_value)' >

<div class="bs-example">
<div class="container">
		<button style="float:right; margin-top: 5px;"class="btn btn-primary" onClick="window.location.href ='#/admin/vakantie'"><span class="glyphicon glyphicon-plus"></span></button>
	<br>
	<br>
	<ul class="list-group">
		<li class="row list-group-item active" style="margin-right: 0px;"> <i class="col-sm-1"> Titel </i><i class="col-sm-1"> Promotekst</i> <i class="col-sm-2 pull-right"> Website</i>
		<li ng-repeat="vak in vakanties" class="row list-group-item" style="margin-right: 0px;">
			<a class="text-primary col-sm-1" ng-href="#/vakantie/{{vak.$id}}">{{vak.naam}} </a> <a class="col-sm-1" ng-href="#/vakantie/{{vak.$id}}">{{vak.thema}} </a> <a class="col-sm-2 pull-right" href={{vak.plaats.contact.website}} target="blank">{{vak.plaats.contact.website}} </a> <br ng-show="($index+1)%3==0"> 
		</li> 
	</ul>
</div>
</div>

</div>
<h2 ng-show='!admin(user.profile.role_value)'>U bent hier niet toegelaten. </h2>
