<div ng-show='admin(user.profile.role_value)' >

<div class="bs-example">
<div style="margin-left: 10px;">
	<button style="float:right; margin-top: 5px;"class="btn btn-primary" onClick="window.location.href ='#/admin/activiteit'"><span class="glyphicon glyphicon-plus"></span></button>
	<br>
	<br>
	<ul class="list-group">
		<li class="row list-group-item active" style="margin-right: 0px;"> <i class="col-sm-2"> Titel </i><i class="col-sm-3"> Promotekst</i> <i class="col-sm-2 pull-left"> Soort</i>
		<li ng-repeat="activiteit in activiteiten" class="row list-group-item" style="margin-right: 0px;">
			<a class="text-primary col-sm-2" ng-href="#/activiteit/{{activiteit.$id}}">{{activiteit.naam}} </a> <a class="col-sm-3" ng-href="#/activiteit/{{activiteit.$id}}">{{activiteit.promoTekst}} </a> <a class="col-sm-2 pull-left" ng-href="#/activiteit/{{activiteit.$id}}">{{activiteit.soort}} </a> 
		</li> 
	</ul>
</div>
</div>

</div>
<h2 ng-show='!admin(user.profile.role_value)'>U bent hier niet toegelaten. </h2>


