<form role="form">
  <div class="form-group">
    <label for="oldPassword">Oud wachtwoord:</label>
    <input type="password" class="form-control" id="oldPassword" placeholder="Oud wachtwoord">
  </div>
  <div class="form-group">
    <label for="newPassword">Nieuw wachtwoord:</label>
    <input type="password" class="form-control" id="newPassword" placeholder="Nieuw wachtwoord">
  </div>
  <div class="form-group">
    <label for="newPassword2">Nieuw wachtwoord:</label>
    <input type="password" class="form-control" id="newPassword2" placeholder="Herhaal nieuw wachtwoord">
  </div>
  <button type="submit" class="btn btn-default" id="">Wijzig wachtwoord</button>
</form>
<br>