<div ng-show='admin(user.profile.role_value)'>
	<div class="col-sm-10">
		<span class="name">
			<h2>{{user.profile.username}}</h2>
		</span>
	</div>

	<div class="row">

		<ul class="nav nav-tabs">
			<li class="active"><a data-target="#vakanties" data-toggle="tab">Vakanties</a></li>
			<li><a data-target="#monitoren" data-toggle="tab">Monitoren</a></li>
			<li><a data-target="#gebruikers" data-toggle="tab">Gebruikers</a></li>
		</ul>

	</div>

	<br/>

	<div class="tab-content">
		<div class=" tab-pane active" id="vakanties">
			<div ng-include src="adminvak"></div>
		</div>


		<div class="tab-pane" id="monitoren">

		</div>
		<div class="tab-pane" id="gebruikers">
		<div ng-include src="admingebruiker"></div>
		</div>
	</div>

</div>
<h2 ng-show='!admin(user.profile.role_value) || !signedIn()'>U ben hier niet toegelaten</h2>