<form class="navbar-form navbar-left" role="search" ng-submit="submitInschrijving()" ng-show="signedIn()">
	<div>
		<label>aantal</label>
		<input type="text" class="form-control" placeholder="Aantal" ng-model="inschrijving.aantal">
	</div>
	<div>
		<label>naam</label>
		<input type="text" class="form-control" placeholder="Naam" ng-model="inschrijving.naam">
	</div>
	<div>
		<label>aantal</label>
		<input type="text" class="form-control" placeholder="Voornaam" ng-model="inschrijving.voornaam">
	</div>
</form>