<div class="profile">
  <div class="row">

    <div class="col-sm-10">
      <span class="name">
        <h2>{{ profile.username }}</h2>
      </span>

      

    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a data-target="#profiel" data-toggle="tab">Profiel</a></li>
      <li><a data-target="#kinderen" data-toggle="tab">Kinderen</a></li>
    </ul>

    <br/>

    <div class="tab-content">
      <div class=" tab-pane active" id="profiel">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="">Username:</label>
            <div class="col-sm-5">
              <input ng-model="profile.username" type="text" placeholder="Username" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="">Naam:</label>
            <div class="col-sm-5">
              <input ng-model="profile.naam" type="text" placeholder="Naam" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="">Voornaam:</label>
            <div class="col-sm-5">
              <input ng-model="profile.voornaam" type="text" placeholder="Voornaam" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="">Straat:</label>
            <div class="col-sm-2">
              <input ng-model="profile.straat" type="text" placeholder="Straat" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="">Nummer:</label>
            <div class="col-sm-1">
              <input ng-model="profile.nummer" type="text" placeholder="Nr" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="">Postcode:</label>
            <div class="col-sm-1">
              <input ng-model="profile.postcode" type="text" placeholder="Postcode" class="form-control">
            </div>

            <label class="col-sm-1 control-label" for="">Gemeente:</label>
            <div class="col-sm-3">
              <input ng-model="profile.gemeente" type="text" placeholder="Gemeente" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success" ng-click="submitProfiel()">Opslaan</button>
            </div>
          </div>
        </form>
      </div>


      <div class="tab-pane" id="kinderen">
       <form class="form-horizontal">
        <div class="form-group">
         <label class="col-sm-2 control-label" for="">Kinderen:</label>
         <div class="col-sm-5">
           <span  class="nullable">
             <select class="form-control" ng-model="myKinderen" ng-options="kind.naam for kind in kinderen" id="checkKind">

              <option value="">-- Kies kind --</option>
            </select>
            {{myKinderen}}
          </span>
        </div>
      </div>

      <hr>

      <h2 id="kindToevoegen">Kind toevoegen</h2>
      
      <div class="form-group">
        <label class="col-sm-2 control-label" for="">Naam:</label>
        <div class="col-sm-5">
          <input ng-model="myKinderen.naam" type="text" placeholder="Naam" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="">Voornaam:</label>
        <div class="col-sm-5">
          <input ng-model="myKinderen.voornaam" type="text" placeholder="Voornaam" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="">Geboortedatum:</label>
        <div class="col-sm-5">
          <input ng-model="myKinderen.geboortedatum" type="text" placeholder="Geboortedatum" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="">Rijksregisternummer:</label>
        <div class="col-sm-5">
          <input ng-model="myKinderen.rijksregisternummer" type="text" placeholder="Rijksregisternr" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="controls">
          <div class="col-sm-offset-2 col-sm-10">
            <input type="checkbox" ng-model="anders" id="anders">
            Adres is anders dan ouder
          </label>
        </div>
      </div>
    </div>

    <div ng-show="anders">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="">Straat:</label>
        <div class="col-sm-2">
          <input ng-model="myKinderen.straat" type="text" placeholder="Straat" class="form-control">
        </div>

        <label class="col-sm-1 control-label" for="">Nummer:</label>
        <div class="col-sm-1">
          <input ng-model="myKinderen.nummer" type="text" placeholder="Nummer" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="">Postcode:</label>
        <div class="col-sm-1">
          <input ng-model="myKinderen.postcode" type="text" placeholder="Postcode" class="form-control">
        </div>

        <label class="col-sm-1 control-label" for="">Gemeente:</label>
        <div class="col-sm-3">
          <input ng-model="myKinderen.gemeente" type="text" placeholder="Gemeente" class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-success" ng-click="submitKind()">Opslaan</button>
      </div>
    </div>

  </div>
</form>
</div>
</div>
</div>


