<div class="container profile">
  <div class="row">

    <div class="col-sm-10">
      <span class="name">
        {{ profile.username }}
      </span>

      <div class="control-group">
        <label class="control-label" for="">Username</label>
        <input ng-model="profile.username" type="text" placeholder="Username" class="input-xlarge">
</div>

      <div class="control-group">
        <label class="control-label" for="">Naam</label>
        <input ng-model="profile.naam" type="text" placeholder="Naam" class="input-xlarge">
</div>

      <div class="control-group">
        <label class="control-label" for="">Voornaam</label>
        <input ng-model="profile.voornaam" type="text" placeholder="Voornaam" class="input-xlarge">
</div>

      <div class="control-group">
        <label class="control-label" for="">Straat</label>
        <input ng-model="profile.straat" type="text" placeholder="Straat" class="input-xlarge">
</div>

<div class="control-group">
        <label class="control-label" for="">Nummer</label>
        <input ng-model="profile.nummer" type="text" placeholder="Nummer" class="input-xlarge">
</div>

<div class="control-group">
        <label class="control-label" for="">Postcode</label>
        <input ng-model="profile.postcode" type="text" placeholder="Postcode" class="input-xlarge">
</div>
<div class="control-group">
        <label class="control-label" for="">Gemeente</label>
        <input ng-model="profile.gemeente" type="text" placeholder="Gemeente" class="input-xlarge">
</div>

 <button class="btn btn-success" ng-click="submitProfiel()">Opslaan</button>
    </div>
  </div>