<div class="container profile">
  <div class="row">
    <div class="col-sm-1">
      <img ng-src="http://www.gravatar.com/avatar/{{ profile.md5_hash }}" class="prof-img" />
    </div>

    <div class="col-sm-10">
      <span class="name">
        <h2>{{ profile.username }}</h2>
      </span>
    </div>
  </div>

<br>

    <div class="col-md-8 col-xs-10">
      <div class="info">
          <label for="Naam">Naam: </label>
          <br>
          <p ng-if="profile.naam === ''"> noppes </p>
          <p>{{profiel.naam}}</p>
      </div>
    </div>

<button>wijzig je profiel</button>

</div>