<legend>{{vakantie.naam}}</legend>
<button ng-show ='admin(user.profile.role_value)'ng-click="toggle_visibility('popupBoxOnePosition');">Verwijder</button>
<a ng-show ='admin(user.profile.role_value)' href='#/vakantie/change/{{vakantie.$id}}'>Wijzig</a>
<br ng-show='admin(user.profile.role_value)'>
<br ng-show='admin(user.profile.role_value)'>
<div class="form-group">
    <label for="Naam">Naam:</label>
    <br>
    <p>{{vakantie.naam}}</p>
    <label for="Leeftijdscategorie">Leeftijdscategorie:</label>
    <br>
    <label for="Leeftijdscategorie">Van: {{vakantie.leeftijdscategorie.van}}<br> Tot: {{vakantie.leeftijdscategorie.tot}}</label>
    <br>
    <label for="Promo tekst">Promo tekst:</label>
    <br>
    <p>{{vakantie.promoTekst}} </p>
    <label for="Plaatsnaam">plaatsnaam:</label>
    <br>
    <p>{{vakantie.plaats.plaatsnaam}} </p>
    <label for="Telefoon">Tel:</label>
    <br>
    <p>{{vakantie.plaats.contact.telNr}} </p>
    <label for="Website">Website:</label>
    <br>
    <p><a href={{vakantie.plaats.contact.website}} rel="external">{{vakantie.plaats.contact.website}}</a> </p>
    <label for="Adres">Adres:</label>
    <br>
    <p>{{vakantie.plaats.contact.adres.straat}} nr. {{vakantie.plaats.contact.adres.nr}} {{vakantie.plaats.contact.adres.gemeente}} {{vakantie.plaats.contact.adres.postcode}} </p>
    <label for="Vakantieperiode">periode:</label>
    <br>
    <p>Van: {{vakantie.vakantiePeriode.periode.van}} Tot: {{vakantie.vakantiePeriode.periode.tot}}</p>
    <label for="Maximum">Maximum aantal leden:</label>
    <br>
    <p> {{vakantie.maxAantalId}} </p>
    <label for="Maximum">Maximum aantal leden:</label>
    <br>
    <p> {{vakantie.maxAantalId}} </p>
    <label for="Bus">Bus:</label>
    <br>
    <p ng-if="vakantie.busVervoer === 'true'"> Ja </p>
    <p ng-if="vakantie.busVervoer !== 'true'"> Nee </p>
    <label for="Eigen">Eigen vervoer:</label>
    <br>
    <p ng-if="vakantie.eigenVervoer === 'true'"> Ja </p>
    <p ng-if="vakantie.eigenVervoer !== 'true'"> Nee </p>
    <label for="Fiscaal">Fiscaal aftrekbaar:</label>
    <br>
    <p ng-if="vakantie.fiscaalAftrek === 'true'"> Ja </p>
    <p ng-if="vakantie.fiscaalAftrek !== 'true'"> Nee </p>
</div>
<button ng-show="signedIn()" type="submit" class="btn btn-default btn-block">Schrijf in</button>
<h5 ng-show="!signedIn()" class="transparantmessage"> Log in om in te schrijven voor een vakantie en om comments te zien</h5>

<h4>Comments:</h4><br/>
<div ng-repeat="com in comments" class="comments">
<p class="commentText"><b>{{com.tekst}}</b></p>
<p class="authorText"> door de gebruiker: {{com.creator}}</p>
</div>
<br>
<h4 ng-if="filter === 'true'"> {{error}}</h4>
<br>
<form ng-show="signedIn()">
<textarea ng-model="comment.tekst" type="textarea" placeholder="Comment" class="textarea"></textarea>
<br>
<button ng-click="voegCommentToe(comment)" type="submit" value="Submit" class="custombutton">Voeg een comment toe </button>
</form>
</div>

<div id="popupBoxOnePosition">
    <div class="popupBoxWrapper">
        <div class="popupBoxContent">
            <h3>Bevestiging</h3>
            <p>Bent u zeker dat u deze vakantie wil verwijderen?</p>
            <a href='#/vakanties' ng-click="verwijderVakantie()">Ja</a> <a href="javascript:void(0)" ng-click="toggle_visibility('popupBoxOnePosition');"> Nee </a>
        </div>
    </div>
</div>