body {
  padding-top: 70px;
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.addVak{
  display: inline-block;
  float: right;
}

.list-group-item {
  background : #c0c0c0;
  color: #000000;
}

.urlAlignRight {
  text-align: right;
}

#kindToevoegen {
  padding-left: 15px;
  font-size: 25px;
}

.image{
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 10px;
  text-decoration: none;
  width: 300px;
  height: 80px;
  text-align: center;
  background-color: rgb(44,169,30);
  text-decoration: none;
  font-size: 2.3em;
  margin-bottom: 15px;
}

h2 {
  font-family: Century Gothic, sans-serif;
  color: #333333;
  text-decoration: underline;
}

.container{
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px red;
  margin-top: 50px;
}

.image .tekst {
  color: white;
}
.image:hover{
 background-color: #5CB85C;
 color: white;
}
.navbarmargin {
  margin-right: 5px !important;
}
#popupBoxOnePosition{
                top: 0; left: 0; position: fixed; width: 100%; height: 120%;
                background-color: rgba(0,0,0,0.7); display: none;
            }
            #popupBoxTwoPosition{
                top: 0; left: 0; position: fixed; width: 100%; height: 120%;
                background-color: rgba(0,0,0,0.7); display: none;
            }#popupBoxThreePosition{
                top: 0; left: 0; position: fixed; width: 100%; height: 120%;
                background-color: rgba(0,0,0,0.7); display: none;
            }
            .popupBoxWrapper{
                width: 550px; margin: 50px auto; text-align: left;
            }
            .popupBoxContent{
                background-color: #FFF; padding: 15px;
            }
.transparantmessage {
  color: transparent;
  color:#bbb;
  text-align: center;
}

.customlinks a {
  text-decoration: none;
  display: inline-block;
  padding: 1px 6px;
  margin-bottom: 5px;
  margin-right: 5px;
  max-width: 500px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid ;
  border-radius: 4px;
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}
.custombutton {
  display: inline-block;
  padding: 1px 6px;
  margin-bottom: 5px;
  margin-right: 5px;
  max-width: 500px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFF;
  background-color: #3333FF;
  border-color: #4CAE4C;
}
.comments {
  width: 400px;
  height: 80px;
  border: 1px solid;
  font-family: Times New Roman;
  font-size: 18px;
  background-color: #D8DFF6;
  margin-top: 5px;
  border-radius: 12px;
}
.textarea
{
  width: 400px;
  height: 80px;
  vertical-align: text-top;
  margin-bottom: 10px;
}
.commentText {
  padding-left: 6px;
}
.authorText {
  font-size: 10px;
  vertical-align: bottom;
  text-align: right;
}
/* NAV BAR */
.nav-pic {
  margin: -2px 5px 0 0;
  max-height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}


/* MAIN POSTS PAGE */
.post {
  background: #fff;
  padding:15px 0;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.info {
  font-weight: bolder;
  font-size: 16px;
}

.info .url {
  font-weight: normal;
  color:#999;
  font-size:13px;
  margin-left:5px;
}


/* PROFILE PAGE */
.prof-img{
  width:100%;
  max-width:100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.name {
  font-weight: bolder;
  font-size: 1.5em;
}

.navbar-custom {
  background-color: #CD0000;
  border-color: #ffffff;
  height: 49px;
}
.navbar-custom .navbar-brand {
  color: #ecf0f1;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #000000;
}
.navbar-custom .navbar-text {
  color: #ecf0f1;
}
.navbar-custom .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-customcustom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-custom .navbar-toggle {
  border-color: #ffffff;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ecf0f1;
}
.navbar-custom .navbar-link {
  color: #ecf0f1;
}
.navbar-custom .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}

.navbar-brand-center {
  position: absolute;
  left: 45%;
  display: block;
  width: 160px;
  text-align: center;
  height: 180%;
}

.nav-left {
  position: absolute;
  display: block;
  text-align: center;
  left: 24%;
}

.nav-right {
  position: absolute;
  display: block;
  text-align: center;
  right: 27%;
  text-align: left;
}

.navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -70px;
    }

.nav-tabs {
  margin-top:30px;
}

.vote {
  height:20px;
  cursor: pointer;
}

.auth-forms {
  max-width:400px;
  margin:0 auto;
  padding:1px 25px 25px 25px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 0 30px black;
  padding: 15px 20px 30px 20px;
}

.cmt-form {
  margin-top:30px;
}

.cmt {
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #ccc;
}

.cmt .author {
  font-size:11px;
  color:#bbb;
}

.dropdownMenu {
  padding: 20px;
  box-shadow: 0 0 30px black;
  width: 300px;
  background-color: #CD0000;
}

#terugNaarVakanties {
  box-shadow: 0 0 10px black;
}

.detailBox {
    width:90%;
    border:1px solid #bbb;
    margin:50px;
    border-radius: 20px;
    align: center;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
    border-radius: 20px 20px 0px 0px;
}

.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
    background-color: #FFFFFF;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}